<style>
body {
    /*font-family: "Lato", sans-serif;*/
    font-family: 'Roboto Slab';
    transition: background-color .5s;
}
.ui-widget-content {
  background: #AAAAAA;
}
/*
.ui-datepicker {
   background: #333;
   border: 1px solid #555;
   color: #EEE;
 }*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
    /*font-family: sans-serif;*/
    font-family: 'Roboto Slab';
}


#SV{
  color:"red";
  font-size: 50px;
  font-family: 'Roboto Slab';
}
#bills{
  font-size:35px;
  margin-left: 0px;
  font-family: 'Roboto Slab';

}
#listOfBills{
  font-size:32px;
  font-family: 'Roboto Slab';

}

#medication{
  font-size:35px;
  font-family: 'Roboto Slab';
}
#listOfMed{
  font-size:32px;
  font-family: 'Roboto Slab';
}

#minor{
  font-size:14px;
  font-family: 'Roboto Slab';
}

#mySidenav{
  /*font-family: "Courier New";*/
  font-family: 'Roboto Slab';
  background-color: #111;
}


body {
  /*background: #F8F8FF;*/
  /*background: #AAAAAA;*/
  background: #f7faff;
  padding-top: 5em;
  /*display: flex;*/
  justify-content: left;
  margin: 0px;
  padding: 0px;
}
.boxedBills{

  /*background-color:#F8F8FF;*/
  font-family: 'Roboto Slab';
  color: white;
  font-size:25px;
}
.boxedMed{

  /*background-color:#F8F8FF;*/
  font-family: 'Roboto Slab';
    font-color: white;
    font-size:25px;
    color: white
}
.boxedGroceries{

  /*background-color:#F8F8FF;*/
  font-family: 'Roboto Slab';
    color: white;
    font-size:25px;
}





/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: blue;
  /*font-family: sans-serif;*/
  font-family: 'Roboto Slab';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;*/
}
#textHeader{
  text-align: center;
}
.titleHeader {
  background-color: #ffaa00;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:baseline;
}

.indexHeader {
  background-color: #000000;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:baseline;
}






.typewriter span {
}
.titleHeader h1 {
  color: white;
  font-family:'Roboto Slab';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;*/
  justify-content: center;
  text-align: center;
}
.indexHeader h1 {
  color: white;
  font-family:'Roboto Slab';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;*/
  justify-content: center;
  text-align: center;
}


.groHeader {
  background-color: #12a24a;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:baseline;
}

.groHeader h1 {
  color: white;
  font-family:'Roboto Slab';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;*/
  justify-content: center;
  text-align: center;
}

.medHeader {
  background-color: #2849d8;
  color:white;
  display:flex;
  justify-content:space-between;
  align-items:baseline;
}

.medHeader h1 {
  color: white;
  font-family:'Roboto Slab';
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;*/
  justify-content: center;
  text-align: center;
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent }
}

#add{
  font-size:20px;
}
#sort{
  font-size:20px;
}

.w3-buttonw3-green {border-radius: 25px; background-color: white; width: 100%; border-color: transparent; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.billsButton {border-radius: 25px; background-color:#ffaa00; width: 100%; border-color: transparent; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.medButton {border-radius: 25px; background-color: #2849d8; width: 100%; border-color: transparent; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.grocButton {border-radius: 25px; background-color: #12a24a; width: 100%; border-color: transparent; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
}




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  font-family: 'Roboto Slab';
}
h2 {
  font-family: 'Roboto Slab';
}
label {
  font-family: 'Roboto Slab';
}
button {
  font-family: 'Roboto Slab';
}
input {
  font-family: 'Roboto Slab';
}
</style>
